<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Entry Silen Bot 2000</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
</head>
<body>

	<!-- Header -->
	<header id="header">
		<nav class="left">
			<a href="#menu"><span>Menu</span></a>
		</nav>
		<a href="{{ url_for('Index') }}" class="logo">EntrySilmeBotu</a>
		{% if login_auth == False %}
		<nav class="right">
			<a href="{{ url_for('Login') }}" class="button alt">Giriş</a>
		</nav>
		{% else %}
		<nav class="right">
			<a href="{{ url_for('Logout') }}" class="button alt">{{ username }}  Çıkış</a>
		</nav>
		{% endif %}
	</header>
	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a href="{{ url_for('Index') }}">Ana Sayfa</a></li>
			<li><a href="{{ url_for('ContactList') }}">Kullananlar</a></li>
			{% if login_auth == False %}
			<li><a href="{{ url_for('Login') }}">Kullan</a></li>
			{% else %}
			<li><a href="{{ url_for('Contact') }}">Kullan</a></li>
			{% endif %}
		</ul>
		{% if login_auth == False %}
		<ul class="actions vertical">
			<li><a href="{{ url_for('Login') }}" class="button fit">Giriş</a></li>
		</ul>
		{% else %}
		<ul class="actions vertical">
			<li><a href="{{ url_for('Logout') }}" class="button fit">{{ username }} - Çıkış</a></li>
		</ul>
		{% endif %}
	</nav>

	{% block body_content %}
	{% endblock %}

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<h2>Get In Touch</h2>
			<ul class="actions">
				<li><span class="icon fa-phone"></span> <a href="#">(031) 331-3131</a></li>
				<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
				<li><span class="icon fa-map-marker"></span> 123 USA Miami, BewerlyHeels, TN 00000</li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/jquery.scrolly.min.js"></script>
	<script src="/static/assets/js/skel.min.js"></script>
	<script src="/static/assets/js/util.js"></script>
	<script src="/static/assets/js/main.js"></script>

</body>
</html>