{% extends 'base.html' %}
{% block body_content %}


<section id="one" class="wrapper">
	<div class="inner">
		{% if hata == True%}
		<h3 align="center">Hatalı kullanıcı adı yada şifre veyahut bi puştluk peşindesin</h3>
		{% endif %}
		<h3>Giriş</h3>

		<form method="post" action="{{ url_for('Login') }}">
			<div class="row uniform">
				<div class="6u 12u$(xsmall)">
					<input type="text" name="username" id="username" value="" placeholder="Nick" />
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="password" name="password" id="password" value="" placeholder="Şifre" />
				</div>
				
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Giriş Yap" /></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</section>

{% endblock %}