{% extends 'base.html' %}
{% block body_content %}



<!-- Table -->
<h3>Siliş Başlıyor</h3>

<h4>Default</h4>
<div class="table-wrapper">
	<table id="tablo">
		<thead>
			<tr>
				<th>Entry No</th>
				<th>Başlık</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	
	<script type=text/javascript>
		var count = 0;
		{% for i in eids %}
			setTimeout(function(){
				$.ajax({
					url: '/incidel',
					type: 'POST',
					data: {x:{{i}}},
					success: function (data) {
						a = "<tr id='"+data+"'><td>"+data+"</td></tr>"
						$('tbody').prepend(a);
						$("#"+data).fadeOut(500).fadeIn(500)
						
						if(count >10){
							count = 0;
							$("tbody").empty();
						}
						count++;
					}
				});
			},1000);
		{%endfor%}

	</script>
	
	
</div>

{% endblock %}